.toast {
    font-size: 14px;
    display: none;
    position: fixed;
    bottom: -10px;
    left: 10px;
    min-width: 100px;
    max-width: 300px;
    background-color: $blue;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #fff;
    &.active {
        display: block;
        bottom: 10px;
    }
}