* {
  padding: 0;
  margin: 0;
  @if($direction == 'rtl') {
    direction: rtl;
    text-align: right;
  } @else {
    direction: ltr;
    text-align: left;
  }
}
body {
  background-color: #f7f7f7;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.owl-carousel{
  direction: ltr;
  * {
    direction: ltr;
  }
}