
.home-page {
  background-color: #fff;
  .home-header {
    width: 100%;
  }
  .services-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    background-image: url(./../images/background_services.jpg);
    background-size: cover;
    padding: 0 2rem;
    & > h1 {
      font-size: 30px;
      color: #fff;
      text-align: center;
      text-shadow: 0 0 2px #000;
      margin: 15px 0 30px;
    }
    .service {
      background: #fff;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 0 0 5px 1px #ccc;
      margin: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .details {
        padding: 5px 10px;
        h1 {
          color: #333;
          font-size: 25px;
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          color: #999;
          margin-bottom: 5px;
        }
      }
    }
  }
  .row {
    align-items: center;
    img {
      width: 100%;
    }
  }
  .content {
    width: 600px;
    margin: 20px auto auto;
    max-width: 90%;
    h1 {
      font-size: 25px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 32px;
      margin-bottom: 35px;
    }
    .list {
      li {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        .text {
          font-size: 18px;
          font-weight: bold;
          margin-left: 15px;
        }
        .icon {
          display: inline-flex;
          font-size: 25px;
          background: #00BCD4;
          width: 60px;
          border-radius: 50%;
          height: 60px;
          align-items: center;
          justify-content: center;
          color: #fff;
          border: 1px solid rgba(0,0,0,0.1);
        }
      }
    }
  }
}