$blue: #03A9F4;
.list-page {
  position: absolute;
  display: flex;
  height: calc(100% - 70px);
  width: 100%;
  #map {
    width:100%;
    height: 100%;
  }
  .entities {
    background: #fff;
    @if($direction == 'rtl') {
      border-left: 1px solid #ddd;
    }@else {
      border-right: 1px solid #ddd;
    }
    .entity {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      border-bottom: 1px solid #ddd;
      img {
        width: 100px;
        height: 100px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1px;
        object-fit: cover;
      }
      .details {
        margin: 0 10px;
        width: 250px;
        h3 {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .address {
          font-size: 15px;
          margin-bottom: 10px;
        }
        .distance strong {
          color: $blue;
        }
      }
      .right-data {
        .rate {
          display: flex;
          color: $blue;
        }
        .more {
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #999;
          margin-top: 1.5rem;
          padding: 5px 10px;
          border: 1px solid rgba(0,0,0,0.1);
          border-radius: 25px;
          text-align: center;
          svg {
            font-size: 18px;
            margin-left: 10px;
          }
          &:hover {
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
  }
}

@include max_lg() {
  .list-page {
    .entities {
      .entity {
        .details {
          width: 200px;
          h3 {
            font-size: 18px;
            height: 42px;
            margin-bottom: 0;
          }
          p {
            font-size: 13px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            margin: 5px 0;
          }
        }
      }
      .right-data {
        .rate {
          font-size: 14px;
        }
        .more {
          font-size: 12px;
        }
      }
    }
  }
}

@include max-md() {
  .list-page {
    .entities {
      overflow: auto;
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      @if($direction == 'rtl') {
        left: 0;
      }@else {
        right: 0;
      }
      z-index: 10;
      background: #fff;
      width: 100%;
      border-top: 1px solid #ccc;
      .entity {
        width: 150px;
        position: relative;
        flex-direction: column;
        border: 1px solid #ddd;
        padding: 0;
        border-radius: 5px;
        margin: 5px;
        img {
          width: 150px;
          height: 100px;
        }
        .details {
          width: 100%;
          padding: 0 5px;
          h3 {
            font-size: 15px;
          }
          .address {
            font-size: 10px;
          }
          .distance {
            display: none;
          }
        }
        .right-data {
          width: 100%;
          position: absolute;
          top: 10px;
          left: 5px;
          font-size: 10px;
          .rate {
            font-size: 10px;
          }
          .more {
            display: none;
          }
        }
      }
    }
  }
}