.single-page {
  width: 70%;
  background-color: #fff;
  margin: auto;
  padding-bottom: 100px;
  .slider {
    &.owl-theme {
      .owl-controls {
        .owl-page {
          display: inline-block;
          span {
            background: none repeat scroll 0 0 #869791;
            border-radius: 20px;
            display: block;
            height: 12px;
            margin: 5px 7px;
            opacity: 0.5;
            width: 12px;
          }
        }
      }
    }
    img {
      width: 100%;
      height: 350px;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    background-color: $beige;
    padding: 15px 20px;
    .info {
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 28px;
        margin-bottom: 15px;
        color: #333;
      }
    }
    .address {
      font-size: 15px;
      margin: 0 0 10px;
      color: #999;
    }
    .discount {
      svg {
        border: 1px solid #0097A7;
        border-radius: 50%;
        padding: 3px;
        width: 18px;
        background: #fff;
        height: 18px;
        color: #0097A7;
      }
    }
    .rate {
      display: flex;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      .stars {
        color: $blue;
        @if($direction == 'rtl') {
          margin-right: 10px;
        } @else {
          margin-left: 10px;
        }
      }
    }
  }
  .services-list {
    li {
      a {
        display: flex;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        color: #333;
        align-items: center;
        justify-content: space-between;
        .info {
          .title {
            display: block;
            font-size: 16px;
            color: #000;
          }
          .time {
            display: block;
            color: #999;
          }
        }
        .prices {
          display: flex;
          flex-direction: column;
          .old-price {
            text-decoration: line-through;
          }
        }
        .select {
          padding: 5px 10px;
          border: 1px solid $blue;
          border-radius: 3px;
        }
      }
      &.selected {
        .select {
          color: #fff;
          background-color: $blue;
        }
      }
      &:last-child {
        a {
          border-bottom: 0;
        }
      }
    }
  }
  .categories {
    display: flex;
    background: $beige;
    padding: 15px 10px;
    li {
      font-size: 14px;
      font-weight: 500;
      width: 75px;
      text-align: center;
      padding: 10px 0;
      margin: 0 10px;
      background: #fff;
      box-shadow: 0 0 3px 1px #ddd;
      border-radius: 4px;
      cursor: pointer;
      &.active {
        color: $blue;
        img:not(.img-active) {
          display: none;
        }
        img.img-active {
          display: block;
        }
      }
      img {
        display: block;
        width: 35px;
        height: auto;
        margin: 0 auto 10px;
        &.img-active {
          display: none;
        }
      }
    }
  }
  .category-contents {
    margin: 15px 0;
    .category-content {
      display: none;
      &.active {
        display: flex;
      }
      .tab-content {
        flex: 1;
      }
      .sub-categories {
        flex: 1;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        @if($direction == 'rtl') {
          padding-left: 25px;
        } @else  {
          padding-right: 25px;
        }
        border-bottom: 0;
        li:last-child a{
          border-bottom: 0;
        }
        li a {
          position: relative;
          height: 45px;
          display: flex;
          align-items: center;
          border: 0;
          border-radius: 0;
          @if($direction == 'rtl') {
            padding: 0 15px 0 0;
          } @else  {
            padding: 0 0 0 15px;
          }
          border-bottom: 1px solid #eee;
          &::after {
            content: " ";
            display: block;
            position: absolute;
            @if($direction == 'rtl') {
              left: -44px;
            } @else  {
              right: -44px;
            }
            bottom: 0;
            height: 45px;
            border: 22px solid transparent;
          }
          &:hover {
            background: #f7f7f7;
            border-bottom-color: transparent;
            &::after {
              @if($direction == 'rtl') {
                border-color: transparent #f7f7f7 transparent transparent;
              } @else  {
                border-color: transparent transparent transparent #f7f7f7;
              }
            }
          }
          &.active {
            background: #eee;
            border-bottom-color: transparent;
            &::after {
              @if($direction == 'rtl') {
                border-color: transparent #eee transparent transparent;
              } @else  {
                border-color: transparent transparent transparent #eee;
              }
            }
          }
          .text {
            display: block;
            max-width: 90%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #333;
            @if($direction == 'rtl') {
              margin-left: 5px;
            } @else {
              margin-right: 5px;
            }
          }
          .num {
            color: #999;
          }
        }
      }
    }
  }
  .ratings {
    background-color: $beige;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    .stars {
      color: $blue;
    }
    .total-rate {
      flex: 1;
      max-width: 35%;
      display: flex;
      align-items: center;
      .num {
        @if($direction == 'rtl') {
          margin-left: 15px;
        } @else {
          margin-right: 15px;
        }
        font-size: 40px;
        font-weight: bold;
      }
      .stars {
        font-size: 18px;
      }
      .review-count {
        color: #999;
      }
    }
    .detail-rate {
      flex: 1;
      max-width: 65%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .item {
        width: 48%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        &:last-child,
        &:nth-last-child(2) {
          border-bottom: 0;
        }
        .title {
          font-weight: bold;
        }
      }
    }
  }
  .comments {
    margin: 25px 0;
    li {
      border-bottom: 1px solid #ddd;
      padding: 15px;
      &:last-child {
        border-bottom: 0;
      }
      .stars {
        color: $blue;
      }
      p {
        margin: 10px 0;
      }
      .comment-bottom {
        display: flex;
        .user {
          @if($direction == 'rtl') {
            margin-left: 10px;
          } @else {
            margin-right: 10px;
          }
          color: #666;
        }
        .time {
          @if($direction == 'rtl') {
            margin-left: 10px;
          } @else {
            margin-right: 10px;
          }
          color: #999;
        }
        .report {
          color: #ccc;
          &:hover {
            color: #999;
          }
        }
      }
    }
  }
  .about {
    margin: 25px 0;
    & > h3 {
      font-size: 16px;
      color: #999;
      @if($direction == 'rtl') {
        margin-right: 10px;
      } @else {
        margin-left: 10px;
      }
    }
    .content {
      display: flex;
      background-color: $beige;
      #map {
        flex: 1;
        height: 300px;
        max-width: 60%;
      }
      .body {
        flex: 1;
        max-width: 40%;
        padding: 15px;
        .title {
          font-size: 18px;
        }
        .address {
          color: #666;
          margin: 0;
        }
      }
    }
  }
  .others {
    margin: 25px 15px;
    display: flex;
    .salon-times {
      flex: 1;
      max-width: 40%;
      padding: 0 15px;
      li {
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #333;
        &.closed {
          color: #ccc;
          .badge {
            background-color: #f44336;
          }
        }
        .day {
          display: flex;
          align-items: center;
          .badge {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #4CAF50;
            border-radius: 50%;
          }
          .text {
            @if($direction == 'rtl') {
              margin-right: 50%;
            } @else {
              margin-left: 50%;
            }
          }
        }

      }
    }
    .description {
      flex: 1;
      max-width: 60%;
    }
  }
  .basket {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    max-width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin: auto;
    z-index: 100;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    &.selected {
      display: flex;
    }
    .basket-info {
      font-size: 18px;
      font-weight: 400;
      padding-left: 10px;
      color: #666;
      .price {
        font-weight: 500;
        color: #333;
      }
    }
    .link-basket {
      font-size: 18px;
      font-weight: 500;
      display: inline-block;
      background: $blue;
      color: #fff;
      padding: 10px 15px;
    }
  }
}

@include max_md() {
  .single-page {
    width: 100%;
    .details {
      .info {
        flex-direction: column;
        h1 {
          font-size: 25px;
          margin-bottom: 10px;
        }
        .rate {
          font-size: 15px;
          margin-bottom: 10px;
        }
      }
    }
    .services-list {
      li {
        a {
          .info {
            width: 65%;
          }
        }
      }
    }
    .services {
      .categories-container {
        flex: 1;
        display: flex;
        width: 100%;
        overflow: auto;
      }
    }
    .category-contents {
      .category-content {
        flex-direction: column;
        .sub-categories {
          max-width: 100%;
          padding-right: 0;
          margin-bottom: 15px;
          li {
            a::after {
              content: none;
            }
            &:last-child a {
              border-bottom: 1px solid #aaa;
            }
          }
        }
      }
    }
    .ratings {
      flex-direction: column;
      .detail-rate,
      .total-rate {
        max-width: 100%;
      }
      .detail-rate .item {
        flex-direction: column;
        align-items: center;
      }
    }
    .about {
      .content {
        flex-direction: column;
        #map {
          max-width: 100%;
        }
        .body {
          max-width: 100%;
        }
      }
    }
    .others {
      flex-direction: column;
      .salon-times {
        max-width: 100%;
      }
      .description {
        max-width: 100%;
      }
    }
  }
}