$blue: #03A9F4;
/* =========== Start Page Header ========== */
.header-container {
  background: #fff;
  border-bottom: 2px solid #ddd;
  &.scroll-down {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 30;
  }
  .header {
    display: flex;
    max-width: 70%;
    margin: auto;
    .logo-container {
      display: flex;
      width: 200px;
      align-items: center;
      img {
        width: 70px;
      }
    }
    .search-container {
      display: flex;
      position: relative;
      width: 100%;
      align-items: center;
      border-right: 2px solid #ddd;
      border-left: 2px solid #ddd;
      svg {
        position: absolute;
        left: 15px;
        font-size: 20px;
      }
      input {
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        height: 100%;
        @if($direction == 'rtl') {
          padding-right: 50px;
        } @else {
          padding-left: 50px;
        }
        border: 0;
        outline: none;
      }
      .autocomplete-data {
        display: none;
      }
    }
    .account {
      display: flex;
      position: relative;
      width: 250px;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      padding: 0.5rem;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ddd;
        padding: 1px;
      }
      svg {
        font-size: 22px;
      }
      .name {
        margin: 0;
      }
      ul.account-options {
        display: none;
        position: absolute;
        width: 100%;
        top: 68px;
        z-index: 10;
        background: #fff;
        box-shadow: 0 2px 2px 1px rgba(0,0,0,0.3);
        a {
          font-weight: bold;
          display: block;
          padding: 10px;
          border-bottom: 1px solid #ccc;
          color: #666;
          &:hover {
            color: #999;
            text-decoration: none;
          }
        }
      }
      &.active {
        ul.account-options{
          display: block;
        }
      }
    }
  }
  .menu-container {
    border-top: 2px solid #ddd;
    & > ul.menu {
      position: relative;
      display: flex;
      max-width: 70%;
      margin: auto;
      & > li {
        @if($direction == 'rtl') {
          padding: 5px 0 5px 25px;
        } @else {
          padding: 5px 25px 5px 0;
        }
        & > a {
          font-size: 14px;
          font-weight: 500;
          display: inline-block;
          color: #666;
          @if($direction == 'rtl') {
            text-align: right;
          } @else {
            text-align: left;
          }
          &:hover {
            color: $blue;
          }
        }
        & > .submenu {
          display: none;
          width: 100%;
          position: absolute;
          top: 32px;
          @if($direction == 'rtl') {
            right: 0;
          } @else {
            left: 0;
          }
          z-index: 30;
          background: #fff;
          padding: 10px;
          opacity: 0;
          box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
          transition: all 0.5s ease-out;
          & > ul {
            width: 33%;
            a {
              display: block;
              padding: 5px;
              color: #666;
              &:hover {
                color: $blue;
              }
            }
          }
          & > .img-card {
            width: 33%;
            border-radius: 5px;
            box-shadow: 0 0 2px 1px #ccc;
            @if($direction == 'rtl') {
              margin-right: 3%;
            } @else {
              margin-left: 3%;
            }
            img {
              width: 100%;
              height: 200px;
            }
            h3 {
              color: #666;
              font-size: 16px;
              padding: 10px;
              margin: 0;
            }
          }
          &.active {
            display: flex;
          }
        }
      }
    }
  }
}
.menu-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 100px;
  left: 0;
  z-index: 20;
}
@include  max_md() {
  .page-header.header-container {
    .header {
      width: 100%;
      max-width: 100%;
      .logo-container {
        width: 150px;
        justify-content: center;
      }
    }
  }
}
@include xs() {
  .page-header.header-container {
    .header {
      .account {
        width: 150px;
        .name {
          display: none;
        }
      }
    }
  }
}
/* =========== Start Page Header ========== */