/* here you can put your own css to customize and override the theme */
div.avatar{
    width: 100px;
}

table td.avatar{
    width: 60px;
}

div.avatar_small{
    width: 50px;
}
.p{
    color:#111;
}