$background_color: #333;
$color: #fff;
$color_hover: #ccc;

.footer {
  position: relative;
  min-height: 200px;
  //background: #F3E5F5;
  //background-color: #ee8cff;
  background-color: $background_color;
  border-top: 1px solid rgba(0,0,0,0.1);
  //&:before {
  //  content: " ";
  //  display: block;
  //  background: #F3E5F5;
  //  border-top: 1px solid rgba(0, 0, 0, 0.1);
  //  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1);
  //  height: 120px;
  //  position: absolute;
  //  top: -50px;
  //  left: 0;
  //  width: 100%;
  //  transform: matrix(1, 0.05, 0, 1, 0, 0);
  //}
  .footer-container {
    width: 70%;
    margin: auto;
    padding: 25px 0 10px;
    .main-footer {
      h4 {
        color: $color;
        font-size: 1.3rem;
        margin-bottom: 15px;
      }
      ul {
        li {
          margin-bottom: 0.5rem;
          a {
            color: $color;
            font-weight: 500;
            font-size: 15px;
            &:hover {
              color: $color_hover;
            }
          }
        }
      }
    }
    .bottom-footer {
      margin-top: 10px;
      padding: 10px 0;
      border-top: 1px solid #ccc;
      .socials {
        display: flex;
        li {
          margin: 0 10px;
          a {
            color: $color;
            font-size: 20px;
            &:hover {
              font-size: 22px;
              color: $color_hover;
            }
          }
        }
      }
    }

  }
  .content {
    position: absolute;
    width: 70% !important;
    max-width: 100% !important;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto !important;
    h1 {
      font-size: 30px;
      font-weight: normal;
      color: #7E57C2;
      margin-top: 20px;
    }
    .address {
      position: absolute;
      bottom: 20px;
      font-size: 20px;
      font-weight: normal;
    }
    .socials {
      display: inline-flex;
      float: right;
      li a {
        display: flex;
        font-size: 25px;
        width: 45px;
        height: 45px;
        align-items: center;
        justify-content: center;
        color: $color;
        background: #B39DDB;
        border-radius: 50%;
        margin: 0 15px;
        &:hover {
          background: #9575CD;
        }
      }
    }
  }
}

@include max_xl() {
  .footer {
    min-height: 250px;
  }
}

@include xs() {
  .footer .footer-container {
    width: 100%;
    .main-footer {
      margin: 0;
    }
  }
}