.nav-tabs.beauty-tabs {
  .nav-link {
    background-color: transparent !important;
    border: 0;
    color: #bbb;
    font-weight: bold;
    padding: 0.5rem 1.3rem;
    &.active {
      border-bottom: 2px solid #29B6F6 !important;
      color: #29B6F6;
    }
  }
}