
/* =========== Start Colors =========== */
$dark_1: #01579B;
$blue: #03A9F4;
$beige: #fbfaf3;

/* =========== End Colors =========== */

/* =========== Start Sizes =========== */
$size_sm: 540px;
$size_md: 720px;
$size_lg: 960px;
$size_xl: 1140px;
/* =========== End Sizes =========== */

$direction: 'rtl';
