.auth-page {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth-container {
    h1 {
      font-size: 25px;
      text-align: center;
      margin-bottom: 30px;
      color: #999;
    }
    .body {
      background: #fff;
      box-shadow: 0 0 3px 1px #ccc;
      padding: 20px;
      width: 450px;
    }
    .auth-links {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      a {
        display: block;
        margin-top: 15px;
      }
    }
  }
}