$blue: #03A9F4;
$beige: #fbfaf3;

.checkout-step2,
.checkout-page {
  .content {
    width: 50%;
    padding: 20px;
    display: flex;
    background: #fff;
    margin: 20px auto;
    box-shadow: 0 0 3px 1px #ddd;
    border-radius: 2px;
    .options {
      width: 300px;
      .select-times {
        li {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 1px solid #eee;
          cursor: pointer;
          &:hover {
            background-color: #f7f7f7;
          }
          &.active {
            font-weight: 600;
          }
          .prices {
            .old-price {
              text-decoration: line-through;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .basket {
      width: calc(100% - 300px);
      @if($direction == 'rtl') {
        padding-right: 25px;
      } @else {
        padding-left: 25px;
      }
      h4 {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 15px;
      }
      ul {
        li {
          display: flex;
          justify-content: space-between;
          padding: 15px 0;
          border-top: 1px solid #ccc;
          .add-more {
            font-weight: 500;
            color: $blue;
          }
          span {
            display: block;
          }
          .detail {
            .title {
              font-weight: 700;
              color: #666;
            }
            .duration {
              font-weight: 500;
              color: #999;
            }
          }
          .right {
            display: flex;
            flex-direction: row;
            .price {
              font-weight: 500;
              color: #999;
              @if($direction == 'rtl') {
                margin-left: 10px;
              } @else {
                margin-right: 10px;
              }
            }
            .delete {
              color: #000;
            }
          }
        }
      }
      .btn {
        color: #fff;
        background-color: $blue;
        border-color: rgba(0,0,0,0.05);
        margin-top: 20px;
        &:hover {
          background-color: darken($blue, 3);
        }
      }
    }
  }
}
.checkout-step2 {
  .content {
    width: 70%;
    .basket {
      width: 50%
    }
    .form-register {
      width: 50%;
      h4 {
        font-size: 20px;
      }
      .form-group {
        margin-bottom: 0.5rem;
        label {
          font-size: 12px;
          margin-bottom: 0.3rem;
        }
      }
      .contact {
        display: flex;
        justify-content: space-between;
        & > div {
            width: 49%;
        }
      }
    }
  }
}

@include max_lg() {
  .checkout-page {
    .content {
      width: 80%;
    }
  }
}

@include max_md() {
  .checkout-page {
    .content {
      width: 100%;
    }
  }
}

@include xs() {
  .checkout-page {
    .content {
      width: 100%;
      flex-direction: column;
      .basket,
      .options {
        width: 100%;
        padding: 0;
      }
    }
  }
}