.home-page {
  .home-head {
    display: flex;

    position: relative;
    height: 500px;
    align-items: center;
    justify-content: center;
    .carousel {
      //height: 100%;
      //.carousel-inner {
      //  height: 100%;
      //}
      img {
        height: 500px;
      }
      .carousel-indicators li {
        background-color: rgba(0, 0, 0, 0.1);
        &.active {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .content {
      position: absolute;
      display: flex;
      height: 100%;
      top: 0;
      h1 {
        span {
          display: block;
          font-size: 35px;
          &:last-child {
            margin-left: 100px;
          }
        }
      }
      .search-box{
        background-color: #fff;
        width: 350px;
        margin-right: 50px;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 0 3px 1px #ccc;
        .tabs {
          display: flex;
          & > li {
            width: 100%;
            text-align: center;
            padding: 10px 0;
            margin-bottom: 15px;
            cursor: pointer;
            &.active {
              color: $blue;
              border-bottom: 2px solid $blue;
            }
          }
        }
        .box {
          position: relative;
          display: none;
          min-height: 150px;
          padding-bottom: 20px;
          &.active {
            display: block;
          }
          .btn {
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
      .auth-form {
        background-color: #fff;
        min-height: 200px;
        width: 350px;
        margin-right: 50px;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 0 3px 1px #ccc;
        .auth-container {
          h1 {
            font-size: 20px;
            text-align: center;
          }
          .form-group {
            margin-bottom: 0.5rem;
            label {
              margin-bottom: 0.2rem;
            }
          }
          button {
            margin-top: 1rem;
          }
          .auth-links {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .section-gray {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
  }
  .section-white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
  }
  .content {
    width: 70%;
    align-items: center;
    padding: 25px 0;
    .content-title {
      font-size: 16px;
      color: #666;
    }
  }
  .big-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .big-card {
      background: #fff;
      border: 1px solid #ccc;
      width: 49%;
      img {
        display: block;
        width: 100%;
      }
      .detail {
        padding: 15px;
        h3 {
          font-size: 20px;
        }
      }
    }
  }
  ul.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 25%;
      a {
        font-weight: 500;
        color: #999;
      }
    }
  }
}

@include max_md() {
  .home-page {
    .home-head {
      height: 400px;
      .content .auth-form {
        display: none;
      }
    }
  }
}
@include xs() {
  .home-page {
    .home-head {
      height: 250px;
      .content h1 span:last-child {
        margin-left: 0;
      }
    }
    .content {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    .big-cards {
      .big-card {
        img {
          display: block;
          width: 100%;
          height: 140px;
          object-fit: cover;
        }
        .detail {
          padding: 10px ;
          h3 {
            font-size: 16px;
          }
          .desc {
            font-size: 14px;
          }
          .btn {
            width: 100%;
          }
        }
      }
    }
    ul.cities li{
      width: 50%;
    }
  }

}