.profile-page {
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #ddd;
    overflow: hidden;
    margin-top: 1rem;
    padding: 2rem;
    .detail {
      flex: 1;
      display: flex;
      img {
        width: 150px;
        height: 150px;
        padding: 1px;
        border-radius: 50%;
        box-shadow: 0 0 3px 1px #ccc;
      }
      .info {
        @if($direction == 'rtl') {
          margin-right: 1.5rem;
        } @else {
          margin-left: 1.5rem;
        }
        h1 {
          font-size: 30px;
        }
        .email {
          display: block;
          margin-bottom: 15px;
        }
      }
    }
    .others {
      flex: 1;
      height: 150px;
      @if($direction == 'rtl') {
        border-right: 1px solid #ddd;
        padding-right: 3rem;
      } @else {
        border-left: 1px solid #ddd;
        padding-left: 3rem;
      }
      .list .item {
        margin-bottom: 10px;
        strong {
          width: 100px;
          display: inline-block;
          font-size: 14px;
        }
      }
    }
  }
}