﻿
@import "../fonts/fontiran.css";
 


body{ font-family:myfont; direction:rtl; }
 
.lineH1-2{line-height:1.2;}
.lineH1-5 { line-height:1.5}
.lineH2{line-height:2;}
a:hover , 
a:active ,
a:checked ,
a:visited {
text-decoration:none;
}
/*My Library*/
 
/*      Project main color        */
.bgcolor1 {
    background-color: #fc5130 !important;
}
.bgcolor2 {background-color:#eef4f4}
.bgcolor3 {background-color:#d5e0e0}
.bgcolor4 {background-color:#5d5d5d}
.bgcolor5 {background-color:#FFF!important}
.bgcolor6 {background-color:#42a470} /* Green */
.bgcolor7 {background-color:#f2f2f2}
.bgcolor8 {background-color:#fb5130}
.bgcolor9 {background-color:#dde9e9}
.bgcolor10 {background-color:#f2fbfa}
.bgcolor11 {background-color:#ecf5f4}
.bgcolor12{background-color:#9A9A9A}
.bgcolor13{background-color:#F5F5F5}
.bgcolor14 {    background-color: #fff2cd;}
.bgcolor15 {
    background-color: #82B637;
}




.color1 {color:#fc5130!important}
.color2 {color:#eef4f4}
.color3 {color:#d5e0e0}
.color4 {color:#5d5d5d}
.color5 {color:#FFF!important}
.color6 {color:#42a470} /* Green */
.color7 {color:#f2f2f2}
.color8 {color:#fb5130}
.color9 {color:#dde9e9}
.color10 {color:#f2fbfa}
.color11 {color:#ecf5f4}
.color12{color:#9A9A9A}
.color13{color:#F5F5F5}
.color15 {
    color: #82B637
}
 
/*      height        */
.height10 {height:10px}
.height30 {height:30px}
.height40 {height:40px}
.height50 {height:50px}
.height70 {height:70px}
.height90 {height:90px}
.height110 {height:110px}
.height120 {height:120px}
.height130 {height:130px}
.height150 {height:150px}
.height170 {height:170px}
.height190 {height:190px}

/*        FULL  PADDING             */
.pad_00 {padding:00px!important}
.pad_rl {padding:auto 00px!important}
.pad_05 {padding:05px}
.pad_10 {padding:10px}
.pad_15 {padding:15px}
.pad_20 {padding:20px}
.pad_30 {padding:30px}
.pad_50 {padding:50px}
.pad_70 {padding:70px}
.pad_90 {padding:90px}


/*          PADDING Right          */
.pad_right_05 {padding-right:05px}
.pad_right_10 {padding-right:10px}
.pad_right_20 {padding-right:20px}
.pad_right_30 {padding-right:30px}
.pad_right_50 {padding-right:50px}
.pad_right_70 {padding-right:70px}
.pad_right_90 {padding-right:90px}

/*          PADDING Left          */
.pad_left_05 {padding-left:05px}
.pad_left_10 {padding-left:10px}
.pad_left_20 {padding-left:20px}
.pad_left_30 {padding-left:30px}
.pad_left_50 {padding-left:50px}
.pad_left_70 {padding-left:70px}
.pad_left_90 {padding-left:90px}



/*          PADDING TOP           */
.pad_top_05 {padding-top:05px}
.pad_top_10 {padding-top:10px}
.pad_top_20 {padding-top:20px}
.pad_top_30 {padding-top:30px}
.pad_top_50 {padding-top:50px}
.pad_top_70 {padding-top:70px}
.pad_top_90 {padding-top:90px}

/*          PADDING BOTTON           */
.pad_btn_05 {padding-bottom:05px}
.pad_btn_10 {padding-bottom:10px}
.pad_btn_20 {padding-bottom:20px}
.pad_btn_30 {padding-bottom:30px}
.pad_btn_50 {padding-bottom:50px}
.pad_btn_70 {padding-bottom:70px}
.pad_btn_90 {padding-bottom:90px}


/*          MARGIN TOP           */
.mrg_top_00 {margin-top:00px!important}
.mrg_top_05 {margin-top:05px!important}
.mrg_top_10 {margin-top:10px}
.mrg_top_08 {margin-top:08px}
.mrg_top_15 {margin-top:15px}
.mrg_top_20 {margin-top:20px}
.mrg_top_30 {margin-top:30px}
.mrg_top_50 {margin-top:50px}
.mrg_top_70 {margin-top:70px}
.mrg_top_90 {margin-top:90px}
.mrg_top_15Precent{margin-top:15%}

/*          MARGIN BOTTON           */
.mrg_btn_05 {margin-bottom:05px}
.mrg_btn_10 {margin-bottom:10px}
.mrg_btn_20 {margin-bottom:20px}
.mrg_btn_30 {margin-bottom:30px}
.mrg_btn_50 {margin-bottom:50px}
.mrg_btn_70 {margin-bottom:70px}
.mrg_btn_90 {margin-bottom:90px}


/*          MARGIN Right          */
.mrg_right_05 {margin-right:05px!important}
.mrg_right_10 {margin-right:10px!important}
.mrg_right_15 {margin-right:15px!important}
.mrg_right_20 {margin-right:20px!important}
.mrg_right_30 {margin-right:30px!important}
.mrg_right_50 {margin-right:50px!important}
.mrg_right_70 {margin-right:70px!important}
.mrg_right_90 {margin-right:90px!important}


/*          MARGIN left          */
.mrg_left_00 {margin-left:00px!important}
.mrg_left_05 {margin-left:05px!important}
.mrg_left_10 {margin-left:10px!important}
.mrg_left_20 {margin-left:20px!important}
.mrg_left_30 {margin-left:30px!important}
.mrg_left_50 {margin-left:50px!important}
.mrg_left_70 {margin-left:70px!important}
.mrg_left_90 {margin-left:90px!important}

/*          MARGIN Full          */
.mrg_rl {margin:auto 00px!important}
.mrg_00 {margin:00px!important}
.mrg_05 {margin:05px}
.mrg_08 {margin:08px}
.mrg_10 {margin:10px}
.mrg_20 {margin:20px}
.mrg_30 {margin:30px}
.mrg_50 {margin:50px}
.mrg_70 {margin:70px}
.mrg_90 {margin:90px}

.width-100 {
    background-color: rebeccapurple;
}
.mrg-top-20 {
    margin-top: -20px;
}
/*         border-radius         */
.brd-rad-03 {
    border-radius: 03px;
}
.brd-rad-05 {border-radius:05px;}
.brd-rad-10 {border-radius:10px;}
.brd-rad-15 {border-radius:15px;}
.brd-rad-20 {border-radius:20px;}
.brd-rad-25 {border-radius:25px;}

.brd-rad-00-TOP { border-top-left-radius:00px!important;border-top-right-radius:00px!important;}
.brd-rad-00-bottom { border-bottom-right-radius:00px!important;border-bottom-left-radius:00px!important;}
.NRdR { border-bottom-right-radius:00px!important;border-top-right-radius:00px!important;}
.NRdL { border-bottom-left-radius:00px!important;border-top-left-radius:00px!important;}

 
/* FLOATS */
.fltr { float:right;}
.fltl { float:left;}
 
/* Directs */
.dirr { direction:rtl;}
.dirl { direction:ltr;}

/* MAXWidth */
._100precent{max-width:100%}
 
/* Width */
._Full100precent{width:100%; height:auto; }
/* Width Products */
._Full100precent2{width:100%;  height: 100%;   object-fit: cover; }
._Full100precent3{   height: 100%;   object-fit: cover; }
/* MAX Height */
._Full100precent_h { height:100%!important}
/* NO Boarder */
.Nobrder{border:0!important}

/* NoOverflow */
.NoOverflow{overflow:hidden}
/* SHADOW */
.Shadow{-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.43);  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.43);}
.Shadow2{-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.57);  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.57);}
.Shadow3{-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.30);  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.30);}
.Shadow4 {  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.10);}
.Shadow5 {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.10);
}
.shadow6 {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.26);
}
.shadow7 {
    box-shadow: -0.209px 1.989px 3px 0px rgba(4, 4, 4, 0.23);
}

.shadow8 {
    box-shadow: 0.588px 0.809px 10px 0px rgba(0, 0, 0, 0.11)
}
/* Align */
.txt-center{ text-align:center;}
.txt-left{ text-align:left;}
.txt-right{ text-align:right;}
.txt-Justify{ text-align:justify;}
/* FILTER */
.blue {
-webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);}
    
.gray { filter: grayscale(80%);}
.green {
-webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.3);
filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(80deg) saturate(1000%) contrast(0.6);}
    
.yellow {
-webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
}
    
.red {
-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.Hoverimgnews  
{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;}
.Hoverimgnews:hover 
{
   -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
    
filter: inherit;
filter: initial;
filter: unset;}


.row2 { width:100%; float:right}
.NoHover:active {box-sizing:content-box !important;}


.height400 {height:400px;}
.my-object-fit {object-fit: cover;}
.padright_0 { padding-right:0px;}
.H-150 { height:170px; width:100%;}
.font-11 { font-size:11px; line-height:2;}

.width-50Precent { width:90px;}
@media (max-width: 1200px) {.width-50Precent { width:170px;}  .H-150 { height:unset;}} 
@media (max-width: 991px) {.width-50Precent { width:60px; font-size:11px;}} 
@media (max-width: 767px) {.width-50Precent {    width:200px;  font-size:14px;} } 
@media (max-width: 742px) {.width-50Precent {    width:180px;  font-size:14px;}} 
@media (max-width: 682px) {.width-50Precent {    width:140px;  font-size:14px;}} 
@media (max-width: 592px) {.width-50Precent {    width:110px;  font-size:14px;}} 
@media (max-width: 502px) {.width-50Precent {    width:100px;  font-size:14px;}} 
@media (max-width: 442px) {.width-50Precent {    width:90px;  font-size:14px;}} 
@media (max-width: 412px) {.width-50Precent {    width:70px;  font-size:14px;}} 
@media (max-width: 352px) {.width-50Precent {    width:55px;  font-size:12px; padding:auto 3px;}}



.Font-bold {
font-weight:bold;
}
.marg-auto { margin:0 auto;}
.text-justify { text-align:justify;}
.text-left { text-align:left; }


.mrg_left_10_Special {
    margin-left: 10px;
}
.mrg_left_20_Special {
    margin-left: 20px;
}

@media (max-width: 991px) {
    .mrg_left_10_Special {
        margin-left: 0px;
    }
    .mrg_left_20_Special {
        margin-left:0px;
    }
}
@media (max-width: 767px) {
    .mrg_left_10_Special {
        margin-left: 10px;
    }

    .mrg_left_20_Special {
        margin-left: 20px;
    }
}

@media (max-width: 352px) {
    .mrg_left_10_Special {
        margin-left: 0px;
    }

    .mrg_left_20_Special {
        margin-left: 0px;
    }
}



.font_37 {
    font-size: 20pt!important;
}
._color6 {
    color: #88878C!important;
}
.fontsize12 {
font-size:12px;
margin-top:10px;
}
.H1fontsize18  {
    font-size: 18px;
   
}

.img-responsive {
width:100%;

}
.NOmarg {
    margin-left: -15px;
    margin-right: -15px
}
.mrg_top50precent {
margin-top:90%; font-size:40px;

}


.mrg-top-500 {
margin-top:-500px;
}



.btn_farayad1 {
    background-color: #ff6448;
    color: #FFF;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}

    .btn_farayad1:hover, .btn_farayad1:visited .btn_farayad1:active {
        background-color: #f7563a;
        color: #f2fbfa;
    }

.btn_farayad2 {
  
    background-color: #FFF;
    border: 1px solid #dadada;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
}

    .btn_farayad2:hover, .btn_farayad2:visited .btn_farayad2:active {
        background-color: #f4f1f1;
        color: gray;
    }


.mar_top_-10 {
margin-top:-10px;
}
.mar_right_-10 {
    padding-right: -10px;
}