﻿
.tower ul {
    width: 100%;
    float: right;
    padding-right: 0px;
}

    .tower ul li {
        float: right;
        list-style: none;
    }

        .tower ul li a {
            font-size: 14px;
            float: right;
            margin: 15px 10px;
            color: #5d5d5d;
        }

        .tower ul li:first-child {
            margin-right: 0px;
        }

.userbx1 {
    font-size: 18px;
    color: #959595;
    margin-top:0px;
    width:100%;
}
    .userbx1 i {
        padding-top: 8px;
        font-size: 18px; position: relative;
    }
    .userbx1 a {
        font-size: 12px;
        color: #959595;
        position: relative;
        padding-top: 5px;

    }

        .userbx1 a:hover {
            text-decoration: none;
        }

.userbx2 {
    font-size: 11px;
    font-weight: bold;
    padding-top: 2px;
    padding: 5px 7px;
    background-color: #FFF;
    color: #959595;
}


    .userbx2:hover {
        text-decoration: none;
    }

.FooterH3 h3 i {
    margin-left: 15px;
}

.Lang {
    text-align: center;
}

    .Lang a {
        background-color: #FFF;
        font-size: 14px;
        font-weight: bold;
        color: #5d5d5d;
        width: 44%;
        float: right;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 4px;
        padding-top: 6px;
    }

        .Lang a:hover {
            background-color: #5d5d5d;
            color: #eef4f4;
            text-decoration: none;
        }

        .Lang a:first-child {
            margin-left: 5px;
        }

.activeLang {
    background-color: #5d5d5d !important;
    color: #FFF !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.Faryad_menu {
    padding-right: 0 !important;
}



.SocialMediaBox a i {
    margin: 8px 10px;
    font-size: 20px;
    color: gray;
}

    .SocialMediaBox a i:hover {
        color: #fc5130;
    }

.noBrdr {
    border-left: 0px !important;
}

.Faryad_menu li a {
    color: #FFF !important;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 25px;
    border-bottom: 5px solid #fc5130;
}

    .Faryad_menu li a:hover {
        border-bottom: #FFF 5px solid !important;
        background-image: none;
        color: #FFF !important;
    }

.navbar-right li {
    float: right !important;
}

@media (max-width: 1023px) {
  
    .userbx1 a {
        display: none;

    }
    .userbx1 i a {
        display: block;
    }
    
  
    .userbx1 {
        width: 47px;
        float: left;
        padding-right: 15px;
    }
        .userbx1 i {
            font-size:20px;
            margin: 0px  !important;
        }

        .userbx1, .userbx1 a {
        width:47px!important;
        }
}

@media (max-width: 767px) {
    .navbar-right li {
        width: 100%;
    }
    .bgb_all {
    background-image:none;
    }
    
}

@media (max-width: 767px) {


   

    .userbx1 a {
        display: none;
    }

    ._shop_basket1 {
        text-align: center;
      

    }

        ._shop_basket1 > span {
            display: none;
        }

       
         .userbx1 i a {
        display: block;
    }
}

@media (max-width: 424px) {
    #Header > .container {
        padding: 0;
    }


    .logo_ {
        width: 100px;
        margin: 0 auto !important;
        float: unset !important;
    }
}

.txtbx-srch {
    font-weight: bold;
    width: 100% !important;
}

.with_8 {
    width: 77%;
    float: right;
}

.submitcss {
    font-size: 19px;
    margin: 0px 0px 5px 5px;
    margin-top: 6px;
    background-color: #d5e0e0;
}

.mrg_-9 {
    margin-left: -9px !important;
}

.submitcss:hover {
    background-color: #eef4f4;
}

.eventimg {
    border: 1px solid #d5e0e0;
}

.slider {
    height: 300px;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

    .slider h2 {
        font-size: 18px;
        font-weight: bold;
        padding-right: 20%;
    }

    .slider h3 {
        font-size: 14px;
        font-weight: bold;
        padding-right: 20%;
    }

    .slider p {
        font-size: 13px;
        padding-right: 20%;
        line-height: 2;
    }

.sliderLeftBx {
    height: 250px;
    position: absolute;
    left: 10px;
    top: 25px;
}

.ItemBx {
    border: 1px solid #f8f8f8;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    float: right;
}

.itemox_shadow {
    box-shadow: 0px 0px 13px 0px rgba(67, 67, 67, 0.72);
}

._ItemBx_myH {
    height: 345px;
    padding-top: 20px;
    padding: 20px;
}

.ItemBx:hover {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    border-radius: 5px;
    /*-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);*/
    -webkit-box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.2);
}


.ItemBx2 {
    border: 1px solid #f4f2f2;
}

    .ItemBx2:hover {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.43);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.43);
    }


.bx_2 {
    height: 170px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bx_3 {
    height: 80px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 10px;
}

    .bx_3 h3 {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0px;
        width: 100%;
    }

    .bx_3 h4 {
        font-size: 20px;
        font-weight: bold;
        float: right;
        margin-right: 5%;
        margin-top: 0px;
    }

    .bx_3 h5 {
        font-size: 13px;
        padding-right: 10px;
    }

    .bx_3 span {
        font-size: 13px;
        float: left;
        margin: 0px 10px 0 0;
    }

    .bx_3 h6 {
        font-size: 12px;
        font-weight: bold;
        float: left;
        margin-left: 10px;
    }

        .bx_3 h6 i {
            color: #9acb34;
            font-size: 20px;
        }

.bg1 {
    height: 150px;
    background-image: url("../images/bg2.png");
    background-repeat: repeat-x;
    background-position: center center;
}

    .bg1 h4 {
        margin: 45px auto;
        width: 235px;
        height: 60px;
        overflow: hidden;
        font-size: 17px;
        color: #5E5E5E;
    }

        .bg1 h4 span {
            width: 40px;
            padding: 20px 10px 20px 10px;
            background-image: url("../images/bg1.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            margin-right: 0px !important;
        }

            .bg1 h4 span img {
                margin: 14px 8px 11px 8px;
            }


.LikeIt {
    background-color: #8bb59d;
    height: 7px;
    width: 68%;
}



.spn_1 {
    font-size: 11px;
}

.spn_2 {
    padding: 0 !important;
    margin-top: 5px !important;
}

.with_60 {
    width: 60%;
    float: right;
    background-color: #e7e4e4;
    padding: 0px;
}

.with_40 {
    width: 40%;
    float: right;
}

.noSpan span {
    margin: 0px;
}

.bx_5 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bx_4 {
    height: 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

    .bx_4 h3 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin: 20px 0px !important;
        width: 100%;
    }

    .bx_4 h4 {
        font-size: 21px;
        font-weight: lighter;
        float: right;
        margin-top: 20px;
    }

        .bx_4 h4 i {
            font-size: 22px;
        }

    .bx_4 h5 {
        font-size: 13px;
        padding-right: 10px;
    }

    .bx_4 span {
        font-size: 12px;
        float: left !important;
        margin: 0;
    }

    .bx_4 h6 {
        font-size: 14px;
        font-weight: bold;
        float: left;
        margin-left: 10px;
    }

        .bx_4 h6 i {
            color: #9acb34;
            font-size: 20px;
        }

.ItemBx:hover * {
    color: #fc5130;
    -o-transition: .8s;
    -ms-transition: .8s;
    -moz-transition: .8s;
    -webkit-transition: .8s;
}

.ItemBx:hover .LikeIt {
    background-color: #fc5130;
}

._discount {
    background-image: url("../images/bg3.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -40px;
    right: -30px;
    height: 70px;
    width: 70px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px !important;
    transform: rotate(30deg);
    z-index: 19;
}

._discount2 {
    background-image: url("../images/bg3.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 70px;
    width: 70px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px !important;
    transform: rotate(30deg);
    z-index: 20;
}

.timerbx {
    height: 78px;
}

    .timerbx h3 {
        text-decoration: line-through;
    }

._counterbx {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.bx_4h4_sec {
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin-top: -30px !important;
}

._number {
    float: right;
    background-color: gray;
    margin: 10px 2px;
    padding: 8px 5px;
    color: #FFF;
    font-size: 11px;
}

._dot {
    float: right;
    margin: 10px 0px;
    padding: 8px 0px;
}

#C1, #C2, #C3, #C4 {
    font-size: 60px;
    font-weight: bold;
    float: right;
    text-align: center;
    margin: 15px 0 -20px 0;
}

.counterNumber {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.h_340 {
    overflow: hidden;
}

.h340px {
    height: 350px;
}

.Link1 {
    font-weight: bold;
    position: absolute;
    z-index: 17;
    font-size: 13px;
    color: #FFF;
    top: 30%;
    margin: 5px 10px;
}

    .Link1 a {
        color: #FFF;
    }

        .Link1 a:hover {
            color: gold;
        }

.news1 h4 {
    position: absolute;
    z-index: 17;
    top: 25%;
    color: #FFF;
    font-size: 12px;
    margin: 5px 10px;
}

.news1 h5 {
    position: absolute;
    z-index: 16;
    color: #FFF;
    left: 15px;
    margin: 5px 10px;
}


.Link2 {
    font-weight: bold;
    position: absolute;
    z-index: 19;
    font-size: 17px;
    color: #FFF;
    top: 25px;
    padding: 10px;
}

    .Link2 a {
        color: #FFF;
    }

        .Link2 a:hover {
            color: gold;
        }

.Link3 {
    font-weight: bold;
    position: absolute;
    z-index: 18;
    font-size: 16px;
    color: #FFF;
    bottom: 15%;
    padding: 10px;
}

    .Link3 a {
        color: #FFF;
    }

        .Link3 a:hover {
            color: gold;
        }

.news2 h4 {
    position: absolute;
    z-index: 17;
    top: 25%;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}

.news2 h5 {
    position: absolute;
    z-index: 17;
    top: 25%;
    color: #FFF;
    left: 15px;
    padding: 10px;
}



._news4 h2, ._news4 {
    font-weight: bold;
    float: right;
}

    ._news4 span {
        color: #fc5130;
    }

    ._news4 i {
        color: #fc5130;
        margin-left: 15px;
    }

._more a {
    color: #fc5130;
    float: left;
    font-size: 13px;
    text-decoration: underline;
    margin-top: 20px;
    font-weight: bold;
}

.news5 h2 {
    font-size: 16px;
    width: 100%;
}

.news5 p {
    text-align: justify;
    direction: rtl;
    font-size: 12px;
    font-weight: lighter;
}

._datenew6 span {
    color: #000;
    width: 100%;
    float: right;
    font-size: 13px;
    text-align: center;
    margin-top: 3px;
}

._datenew6 {
    float: right;
    padding-top: 15px;
    padding-bottom: 30px;
    background-image: url("../images/bg4.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.slideQue {
    min-height: 200px;
}

.comment_1 {
    background-color: #FFF;
    float: right;
    padding: 6px;
    font-size: 17px;
    margin-top: 23px;
    border-radius: 5px;
}

.mysmall {
    font-size: 8px;
    color: #cccccc;
}

.slideQue h5 {
    color: #FFF;
    font-size: 13px;
    padding-right: 10px;
    padding-top: 15px;
    float: right;
}

    .slideQue h5 small {
        font-size: 11px;
        color: #ebebeb;
    }

.CoWorker h3, .CoWorker2 h3 {
    font-size: 12px;
}

.CoWorker {
    background-color: #f5f5f5;
    min-height: 157px;
    text-align: center;
}

.Mrg-26 {
    margin-right: 26px !important;
}

.CoWorker img {
    margin: 0 10px;
}

.CoWorker2 {
    background-color: #fafafa;
    min-height: 100px;
}

.bg5 {
    background-image: url("../images/bg5.jpg");
    min-height: 400px;
}

.footerUl {
    margin-top: 30px;
}

._footerLogo {
    text-align: center;
}

    ._footerLogo img {
        margin: 0 auto;
    }

    ._footerLogo h1 {
        text-align: center;
        font-size: 16px;
        color: #fc5130;
        font-weight: bold;
    }

    ._footerLogo h2 a {
        font-size: 14px;
        font-weight: bold;
        float: right;
        width: 49%;
        color: #fc5130;
    }

    ._footerLogo h6 {
        font-size: 16px;
        color: #fc5130;
        width: 2%;
        float: right;
        font-weight: bold;
        margin-top: 0px;
    }

.footerUl {
    margin-right: 0px;
    padding-right: 0px;
}

    .footerUl li {
        float: right;
        font-size: 13px;
        list-style: none;
        margin: 5px 8px;
    }

        .footerUl li a {
            color: #5d5d5d;
        }

            .footerUl li a:hover {
                color: #fc5130;
            }

.FooterH3 h3 {
    font-size: 17px;
    float: right;
    font-weight: bold;
}

    .FooterH3 h3 i {
        font-size: 25px;
    }

.FooterH3 p {
    font-size: 17px;
    text-align: justify;
    float: right;
    font-weight: lighter;
    font-size: 13px;
    text-align: justify;
    direction: rtl;
}

.txt_1 {
    border: 0px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    background-color: rgba(255, 255, 255, .5);
}


.txt_2 {
    position: absolute;
    top: 0;
    left: 0;
}

.footerleft p {
    direction: rtl;
    text-align: justify;
}

.footerleft h5 {
    font-weight: bold;
}

.phoneLine {
    color: #5d5d5d;
    width: 100%;
    float: right;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8;
}

    .phoneLine span {
        float: left;
    }

.footer_address {
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.8;
}

.finalFooter {
    height: 90px;
    padding-top: 25px;
}

    .finalFooter p {
        font-size: 12px;
        padding-top: 4px;
        float: left;
    }

    .finalFooter img {
        height: 40px;
        float: left;
        margin-right: 10px;
    }

.go-top {
    text-align: right;
    cursor: pointer;
}

    .go-top i {
        font-size: 60px;
        color: #5d5d5d;
    }

        .go-top i:hover {
            color: #ea5239;
        }

.Clock {
    direction: ltr;
    float: right;
    font-size: 11px;
    margin-top: 10px;
}

.form-control2 {
    padding: 0px 5px;
    width: 75%;
    float: right;
    border: 0px;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 12px;
}

#OWL2 p {
    font-size: 12px;
    line-height: 1.8;
    font-weight: lighter;
}

.UserCommentImg {
    float: right;
    height: 70px;
    width: 70px !important;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 100%;
    border: 2px solid gray;
    margin: -5px;
}

.owl-theme .owl-nav {
    margin-top: 0;
    padding: 0px 5px;
    font-size: 20px;
    position: absolute;
    background-color: #fff;
    top: -45px;
    left: 0;
}

#OWL2 .owl-dots * {
    display: none !important;
}

.news1 h5 i {
    margin: 0px 10px;
}

.news2 h5 i {
    margin: 0px 10px;
}

.news3 h5 i {
    margin: 0px 10px;
}

.Submit_ {
    text-align: left;
}

._btn5 {
    border: 0px;
    background-color: transparent;
    font-size: 16px;
}

._btn5 {
    background-color: #fc5130;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 15px;
}

.TowerCollMenu {
    width: 100%;
    background-color: transparent;
    margin-top: -2px;
    border: 0px;
    padding: 8px 0px 16px 0px;
}

    .TowerCollMenu i {
        margin-right: 5px;
        font-size: 25px;
    }

    .TowerCollMenu:active {
        outline: none;
        border: none;
    }

@media (max-width:1200px) {


    .CoWorker {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.0);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.0);
    }

    .Faryad_menu li a {
        font-size: 13px;
        padding: 15px 15px;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        font-size: 13px;
        padding: 15px 15px;
    }

    .tower ul li a {
        font-size: 11px;
    }

    .h340px {
        height: 330px;
    }
}

@media (max-width:991px) {
    .logo_ {
        margin: 10px;
    }


    .Faryad_menu li a {
        padding: 15px 10px;
    }

    .h340px {
        height: auto;
    }

    ._fwinDw {
        width: 100%;
        height: 340px;
    }

    ._fwinDw2 {
        width: 100%;
    }

    .UnRow {
        margin-right: 0px;
        margin-left: 0px;
    }

    .UnRow2 {
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .UnRow3 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .imgsize3 {
        width: 100%;
    }

    .FooterH3 h3 {
        width: 100%;
    }

    .Clock {
        width: 100%;
        direction: ltr;
        float: left;
        font-size: 12px;
        margin-top: 00px;
    }

    ._counterbx {
        float: left;
        text-align: left;
        margin-top: -50px;
    }
}

@media (max-width:991px) {
    ._fwinDw {
        height: auto;
    }

    .H3_inmob1 {
        width: 100%;
    }

    .CoWorker img {
        margin: 0;
    }

    .OWL3 .owl-theme .owl-dots .owl-dot span {
        margin: 2px 3px;
        background-color: #fc5130;
        border-radius: 0px;
        padding: 1px 4px;
    }

    .OWL3 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background-color: gray;
    }
}


@media (max-width:767px) {
    .form-control2 {
        padding: 7px 5px;
        width: 75%;
        float: right;
        border: 0px;
        font-size: 14px;
        margin-right: 5px;
        margin-top: 7px;
    }

    .submitcss {
        margin-top: 9px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: 0px;
    }

    .XS_slide {
        background-image: none !important;
    }

    .foterDiv {
        float: right;
        width: 100%;
        margin: 5px 0px;
        text-align: center !important;
        padding: 10px 0;
    }

        .foterDiv p {
            float: right;
            width: 100%;
            font-size: 12px;
            text-align: center !important;
            padding: 10px 0px;
        }

    .finalFooter img {
        float: unset !important;
        margin: 0px;
        height: 60px;
    }


    .Hsticky {
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        z-index: 20;
        background-color: #FFF;
        padding: 10px;
        width: 106%;
        margin-right: -15px;
    }


    .footerUl li {
        font-size: 12px;
    }

    .navbar-left {
        width: 90%;
        margin: 5px 5%;
    }

    .searchbx1 {
        width: 250px;
    }

    .tower {
        height: auto;
        position: absolute;
        z-index: 19;
        left: 10px;
        width: 140px;
    }

        .tower ul {
            width: 100%;
            float: right;
            padding-right: 0px;
        }

            .tower ul li {
                width: 100%;
                float: right;
                list-style: none;
            }

                .tower ul li a {
                    padding: 0px;
                    font-size: 12px !important;
                    margin: 5px;
                }
}

@media (max-width:425px) {

    .comment_1 {
        padding: 5px;
        font-size: 20px;
        margin-top: 25px;
    }

    .slider h2 {
        font-size: 14px;
        padding-right: 5px;
    }


    .slider h3 {
        font-size: 14px;
        padding-right: 5px;
    }

    .slider p {
        font-size: 13px;
        padding-right: 5px;
        line-height: 2;
    }

    .tower {
        margin-top: 35px;
    }


    .form-control2 {
        padding: 7px 5px;
        width: 75%;
        float: right;
        border: 0px;
        font-size: 14px;
        margin-right: 5px;
        margin-top: 7px;
    }

    .submitcss {
        margin-top: 9px;
    }
}

@media (min-width:767px ) AND ( max-width:992px) {
    .towermenu {
        width: 100%;
        float: right;
        position: relative;
    }

        .towermenu ul {
            position: absolute;
            z-index: 500;
            width: 100%;
        }

            .towermenu ul li {
                background-color: #FFF;
                width: 100%;
            }

                .towermenu ul li a {
                    background-color: #FFF;
                }
}

.UNnavbar-toggle {
    margin: 0 !important;
    padding: 0;
    border: 0;
}



@media ( max-width:375px) {
    .searchbx1 {
        width: 200px;
    }

    .bx_3 h6 {
        margin-left: 3px;
        font-size: 10px;
    }

        .bx_3 h6 i {
            font-size: 13px;
        }

    .form-control2 {
        padding: 7px 5px;
        width: 70%;
        float: right;
        border: 0px;
        font-size: 11px;
        margin-right: 5px;
        margin-top: 10px;
    }

    .submitcss {
        margin-top: 9px;
    }
}

/*/////////////////////////////////////////////////                      CSS COURSE PAGE                       ////////////////////////////////////////////////////*/

.core1 {
    min-height: 500px;
    background-color: Red;
    float: right;
    width: 100%;
}

.core2 {
    font-size: 14px;
    border-bottom: 1px solid #9c9c9c;
}

    .core2 a {
        color: gray;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
    }

        .core2 a:hover {
            border-radius: 5px;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
        }

            .core2 a:hover > i {
                color: #fc5130;
            }

.core3 {
    width: 100%;
    float: right;
}

.core4 i {
    margin: 15px 00px 0px 10px;
    font-size: 25px;
}

.core4 h1 {
    font-size: 19px;
    float: right;
}

.starbx {
    margin-top: 0px;
    font-size: 14px;
}

.allPoints {
    float: left;
    padding-top: 7px;
    color: #5d5d5d;
}

.starbx i {
    float: right;
    font-size: 17px;
    color: #b7b5b6;
    margin: -2px 2px;
}

.core3 span {
    padding: 2px 10px 5px 10px;
    float: right;
}

    .core3 span i {
        font-size: 20px;
    }

.core3span span {
    padding-top: 00px !important;
    float: left;
}

.core3 h6 {
    font-size: 17px;
}

    .core3 h6 span {
        float: left;
 
    }

.mrg_68 {
    margin: 0 auto;
}

.Pad_left0 {
    padding-left: 0px;
}

.bg5__ {
    background-image: url("../images/bg5.png");
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.fontsize25 {
    font-size: 17px;
    padding: 5px 0;
}

.searchbx2 {
    top: -5px;
}

.toper_1 {
    margin-top: -15px;
    padding-top: 35px;
    height: 80px;
    font-size: 15px;
}

    .toper_1 i {
        font-size: 20px;
        color: #838383;
        padding-left: 5px;
        float: right;
    }

    .toper_1 a {
        padding: 5px 8px;
    }

        .toper_1 a:hover {
            background-color: #efefef;
            text-decoration: none;
        }

._mosh {
    width: 100%;
    text-align: center;
    color: Gray;
    direction: rtl;
    font-size: 17px;
}

    ._mosh i {
        float: right;
        font-size: 45px;
        margin-top: 15px;
    }

    ._mosh span {
        margin: 0 auto;
    }

.brd_ {
    border: 1px solid #d7d7d7;
}

.Faryad_menu li .active {
    border-bottom: 1px solid #fff;
    color: Gray !important;
    border-radius: 5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active {
    border-radius: 5px;
    background-image: none;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #555 !important;
        background-image: none;
    }

.bg-header-5 {
    background-image: url("../images/bg6.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.H5_abs {
    position: absolute;
    font-size: 16px;
    height: 44px;
    padding: 24px 30px 36px 90px !important;
    color: #868585;
}

.Head_2 {
    margin-top: 20px;
    height: 40px;
    color: #868585;
}

.core5 i {
    font-size: 45px;
    color: #868585;
}

.core5 h3 {
    font-size: 13px;
    color: #868585;
    margin-bottom: -20px;
}

.core5 h2 {
    font-size: 15px;
    font-weight: bold;
    color: #777777;
    margin-bottom: 50px;
}

.core5 h4 {
    font-size: 14px;
    color: #383838;
    margin: 40px 0 15px 0;
    font-weight: bold;
}

.core5 p {
    text-align: justify;
    direction: rtl;
    color: #777777;
}

._Jlist {
    width: 100%;
    float: right;
    margin: 1px 0px;
    background-color: #FFF;
    color: gray;
}





    ._Jlist ul li a:hover i {
        color: gray;
    }



    ._Jlist i {
        float: right;
        font-size: 50px;
        padding: 10px;
        color: Gold;
    }

    ._Jlist ul li {
        width: 100%;
        float: right;
        border-bottom: 1px solid #ededed;
    }

.Toper_2 {
    padding: 1px 0;
}

._Jlist ul li:hover > .Toper_2 {
    color: gray;
    background-color: gold;
    padding: 1px 0;
}

    ._Jlist ul li:hover > .Toper_2 i {
        color: gray;
    }


.core6 {
    background-color: #fefefe;
    border-bottom: 1px solid #e3e3e3;
    /*border-top: 1px solid #e3e3e3;*/
}

    .core6 i {
        font-size: 40px;
        margin-left: 15px;
        margin-right: -15px;
        color: gray;
        padding: 0;
    }

    .core6 h5 {
        font-size: 12px;
    }

    .core6 h3 {
        font-size: 12px;
        margin: 0 0 15px 0;
        font-weight: bold;
    }

    .core6:hover > div i {
        color: gold;
    }

.core7 i {
    font-size: 20px;
    padding: 0;
    margin-top: 1px;
    margin-right: 5px;
}

.core7 {
    margin-top: 5px;
    padding: 5px;
    float: right;
}

.core8 i {
    font-size: 10px;
    margin-top: -10px;
    margin-right: 5px;
    color: #FFF;
}

.core8 i {
    color: #FFF !important;
}

.core8 {
    margin-top: 25px;
    width: 20px;
    height: 20px;
    float: right;
    background-color: gray;
    border-radius: 200px;
}

.core9 {
    background-color: #ecf5f4;
    border-radius: 5px;
}

    .core9 h6 {
        color: Red;
        margin-right: 10px;
        font-size: 11px;
    }

.btn_ywllo {
    background-color: #e8df9c;
    font-size: 11px;
    padding: 0px 7px;
    border-radius: 5px;
}

    .btn_ywllo:hover {
        background-color: #d3ca87;
        font-size: 11px;
        padding: 0px 7px;
        border-radius: 5px;
        color: Black;
        text-decoration: none;
    }

.core10 {
    background-color: #fde5e1;
}

hr {
    width: 100%;
}

.core11 {
    background-color: #f5f5f5;
    border: 0px;
    width: 100%;
}

.btn-f4f4ec {
    background-color: #f4f4ec;
    font-size: 14px;
    padding: 12px;
}

    .btn-f4f4ec:hover {
        background-color: #e7e7e2;
        text-decoration: none;
    }

    .btn-f4f4ec i {
        font-size: 14px;
        margin: 5px 2px;
    }




.btn-deede8 {
    background-color: #deede8;
    font-size: 14px;
    padding: 12px;
}

    .btn-deede8:hover {
        background-color: #c0eadc;
        text-decoration: none;
    }

    .btn-deede8 i {
        font-size: 14px;
        margin: 5px 2px;
    }

@media ( max-width:767px) {
    .mrg_top_08 {
        margin-top: 3px
    }

    ._lefterme {
        float: left !important;
    }

    ._righterme {
        float: right !important;
        margin-right: 10px;
    }

    .core4 h1 {
        font-size: 13px;
        text-align: center;
        line-height: 2;
    }

    .core4 i {
        text-align: center;
    }

    .toper_1 {
        height: 90px;
    }

    .core2 a {
        font-size: 11px;
        line-height: 2;
    }

    .core5 i {
        font-size: 25px;
    }

    ._Jlist i {
        font-size: 13px;
    }

    ._Jlist h4 {
        font-size: 14px;
    }

    .Head_2 span {
        position: relative;
        width: 100%;
        z-index: 111;
        top: -47px;
        font-size: 11px;
        left: 0;
        margin-left: 0px;
        text-align: left;
    }

    .btn-f4f4ec, .btn-deede8 {
        text-align: center;
    }

    .core7 {
        margin: 0;
    }
}

.mrg-btn {
    margin: 0px;
    padding: 5px 8px;
}

.bg_blc {
    background-color: rgba(20, 20, 20, 0.7);
}

.modal-dialog {
    border: 0px !important;
}

.bgIMG-pop {
    background-image: url("../images/img16.jpg");
    background-size: cover;
    background-position: center center;
}

.H-250 {
    height: 400px !important;
    border-radius: 5px;
    font-size: 12px;
}

.txtSize13 {
    font-size: 13px;
}

.modal-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #6e6e6e
}

._linkup a {
    margin: 5px;
    text-align: center;
    line-height: 2
}

._404 {
    background-image: url('../images/404bg.jpg');
    background-position: center center;
}

.404_logo {
    width: 100%;
    margin-top: 50%;
    float: right;
    text-align: center;
}

.H1404 {
    font-size: 100px;
    font-weight: bold;
}

@media ( max-width:767px) {
    .H3404 {
        font-size: 20px;
    }
}

@media ( max-width:424px) {
    .H3404 {
        font-size: 14px;
    }

    .wi100 {
        width: 100%;
        margin: 10px 0
    }
}

._menuRahboardi {
    padding: 10px;
    color: #5D5D5D;
}

    ._menuRahboardi a {
        padding: 5px;
        color: #5D5D5D;
        font-size: 12px;
        font-weight: bold;
    }

        ._menuRahboardi a:hover {
            padding: 5px;
            color: #fc5130;
            text-decoration: none;
        }

.Ul_contact li {
    list-style: none;
    line-height: 2.5;
    width: 100%;
    float: right;
    margin: 4px 0px;
}

    .Ul_contact li span {
        font-size: 19px;
        background-color: #f2f2f2;
        color: #5d5d5d;
        border-radius: 5px;
        padding-top: 0px;
        float: right;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        text-align: center;
    }

.border_btn1 {
    padding-bottom: 15px;
    border-bottom: 2px solid #ededed;
}

.H5_bg_controler {
    background-image: url('../images/h5bg.png');
    background-position: center center;
    float: right;
    width: 100%;
    padding: 25px 0;
    background-repeat: repeat-x;
}

    .H5_bg_controler h5 {
        background-color: #FFF;
        float: right;
        padding: 5px 15px;
        margin-right: 80px;
        font-size: 18px
    }

.font-17 {
    font-size: 16px;
}

    .font-17:hover {
        font-size: 16px;
    }

.myfaq {
    margin-top: 10px;
    padding: 20px 15px 5px 15px;
    direction: rtl;
    text-align: justify;
    background-color: #F2F2F2;
    font-size: 12px;
    background-image: url('../images/bgfaq2.png');
    background-position: center top;
    background-repeat: repeat-x;
    border: 0px;
}

.fag3 {
    background-image: url('../images/h5bg2.png');
    background-position: center left;
    background-repeat: repeat-y;
    height: 100% !important;
}


@media ( max-width:767px) {
    .fag3 {
        background-image: none;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 100%;
    }

    .Faryad_menu li a {
        border-left: 0px;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        margin-right: 10px
    }
}

.Color_inside ul li span i {
    font-size: 25px;
}

.Color_inside ul:hover > li span {
    color: #fc5130
}

._collaps_me {
    display: none;
}

[aria-expanded="false"] .fa-angle-up {
    display: none;
}

[aria-expanded="true"] .fa-angle-up {
    display: block;
}

[aria-expanded="true"] .fa-angle-down {
    display: none;
}

[aria-expanded="false"] .fa-angle-down {
    display: block;
}



[aria-expanded="false"] span {
    color: #d5d5d5;
}

[aria-expanded="true"] span {
    color: #f30000;
}




.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #FFF !important;
}

._Upper1024 {
    width: 415px;
    margin: 7px 3px;
    padding: 2px 0
}

@media ( max-width:991px) {
    ._Upper1024 {
        width: 265px;
    }
}


._counters {
    height: 230px;
    padding-top: 60px;
}


.bx-1 {
    width: 96%;
    margin: 10px 2%
}

    .bx-1 h2 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 120px;
        color: #FFF;
        font-size: 16px;
    }

    .bx-1 h3 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 90px;
        font-size: 12px;
    }

    .bx-1 h5 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 90px;
        font-size: 12px;
        left: 15px;
    }


.bx-2 {
    width: 96%;
    margin: 10px 2%
}

    .bx-2 h2 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 50px;
        color: #FFF;
        font-size: 16px;
    }

    .bx-2 h3 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 10px;
        font-size: 12px;
    }

    .bx-2 h5 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 10px;
        font-size: 12px;
        left: 15px;
    }

.bx-3 {
    width: 96%;
    margin: 10px 2%
}

    .bx-3 h2 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 60px;
        color: #FFF;
        font-size: 16px;
    }

    .bx-3 h3 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 40px;
        font-size: 12px;
    }

    .bx-3 h5 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 40px;
        font-size: 12px;
        left: 15px;
    }

@media ( max-width:767px) {
    .bx-3 h2 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 50px;
        color: #FFF;
        font-size: 16px;
    }

    .bx-3 h3 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 10px;
        font-size: 12px;
    }

    .bx-3 h5 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 10px;
        font-size: 12px;
        left: 15px;
    }
}

.bx-4 {
    width: 96%;
    margin: 10px 2%
}

    .bx-4 h2 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 90px;
        color: #FFF;
        font-size: 16px;
    }

    .bx-4 h3 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 50px;
        font-size: 12px;
    }

    .bx-4 h5 {
        position: absolute;
        z-index: 5;
        color: #FFF;
        bottom: 50px;
        font-size: 12px;
        left: 15px;
    }


.h360px {
    height: 360px;
}


.countdown {
    direction: rtl;
}

    .countdown > div {
        display: inline-block;
    }

        .countdown > div > span {
            display: block;
            text-align: center;
        }

.countdown-container {
    margin: 0 3px;
    float: right;
}

    .countdown-container .countdown-heading {
        font-size: 9px;
        margin: 3px;
        color: #666
    }

    .countdown-container .countdown-value {
        font-size: 9px;
        background: #666;
        padding: 8px 4px;
        color: #fff;
        margin: 0;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        border-radius: 1px;
    }


.bbrd1 {
    border: 10px solid #d5d5d5d;
}

.UnRow86 {
    padding: 0px !important;
}

@media ( max-width:991px) {
    ._counters {
        height: 350px
    }

    .UnRow-767 {
        padding: 0px 2px;
    }

    .UnRow86 {
        padding: 0px 15px !important;
    }
}


@media ( max-width:767px) {
    ._counters {
        height: 550px
    }
}


.height_details1 {
    margin-bottom: 0px !important
}

._txt2 {
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 25px;
}

._txt3 {
    position: absolute;
    left: 20px;
    bottom: 120px;
    font-size: 25px;
    color: #5c5c5c;
}

._news4 h2 {
    font-size: 13px !important;
    color: #5d5d5d
}

.owl-theme .owl-nav {
    border-radius: 5px;
}

.crse {
    cursor: pointer;
}


@media (max-width: 1200px) {
    .tower ul li a {
        margin: 18px 7px;
    }

    .Lang a {
        background-color: #FFF;
        font-size: 10px;
        font-weight: bold;
        color: #5d5d5d;
        width: 42%;
        float: right;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 3px;
        padding-top: 9px;
    }
}

.cntact_form_ {
    font-size: 12px;
    padding: 10px 15px !important;
    color: #959595 !important;
    border: 1px solid #ededed;
    margin: 14px 0;
}

.cntact_form_2 {
    height: 180px;
    margin-top: 5px;
}

._precent50Width {
    width: 50%;
}

.LoH1 {
    padding: 8px !important;
}

.iCntant {
    margin-top: 5px;
    transform: rotate(-30deg);
}

.btn-none {
    background-color: transparent;
    border: none;
}

._btnzindex {
    z-index: 6;
    left: 10px;
    position: absolute;
    width: 120px;
}

.width60 {
    width: 160px;
    margin-top: 0px;
    left: 120px;
    float: left;
    z-index: 3;
    border-left: 0;
    position: absolute;
    height: 37px;
}

._captcha {
    border: 0;
    width: 80px;
    border: 1px solid #f2f2f2;
    margin-top: -5px;
}

.lineH1-5 h2 {
    line-height: 1.8;
}

.tower ul li a:hover {
    text-decoration: none;
}

.tower ul li:first-child {
    margin-right: 35px;
}

@media (max-width: 1200px) {
    .tower ul li:first-child {
        margin-right: 00px;
    }
}

@media (max-width: 980px) {
    .userbx2 {
        padding: 5px 4px;
    }
}

.Lang a:first-child {
    margin-left: 7px;
}




.Pad_10_limited {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1200px) {
    ._30percent {
        margin: auto 5px;
    }
}

@media (max-width: 767px) {
    ._30percent {
        margin: auto 13%;
    }
}

@media (max-width: 715px) {
    ._30percent {
        margin: auto 11%;
    }
}

@media (max-width: 591px) {
    ._30percent {
        margin: auto 10%;
    }
}

@media (max-width: 533px) {
    ._30percent {
        margin: auto 8%;
    }
}

@media (max-width: 486px) {
    ._30percent {
        margin: auto 7%;
    }
}

@media (max-width: 448px) {
    ._30percent {
        margin: auto 3%;
    }
}


@media (max-width: 358px) {
    ._30percent {
        margin: auto -2px;
    }
}





@media (max-width: 991px) {
    .CoWorker h3, .CoWorker2 h3 {
        margin-right: 15px;
    }

    .owl-item {
        text-align: center !important;
    }

    .owl-carousel .owl-item img {
        width: auto !important;
        display: unset !important;
    }
}



.Left-Icon-Lis i {
    font-size: 35px;
    margin-top: -45px;
    padding: 0;
    margin-left: 25px;
    color: gray;
}


.core6 > div > h3 {
    margin-top: -10px;
}



ul.nav.nav-list.Shadow.pad_10.crse {
    padding: 0px;
    margin: 0;
}



.btn-f4f4ec a i, .btn-deede8 a i {
    border-left: 1px solid #D1CFD2;
    padding: 5px 10px 6px 10px;
    margin: -10px -10px -6px 10px;
}

.secColor {
    background-color: #FB5130;
    font-size: 30px !important;
}

    .secColor:hover {
        background-color: #F73913;
    }

._mosh span {
    margin-right: 24%;
}

@media (max-width: 1199px) {
    ._mosh span {
        margin-right: 17%;
    }
}

@media (max-width:991px) {
   

    ._mosh i {
        display: none;
    }

    ._mosh span {
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    .core14 span {
        padding: 0px;
    }

    ._mosh, .secColor, .fontsize25 {
        font-size: 13px !important;
    }

    .core4 i {
        display: none;
    }

    .Toper_2 i {
        font-size: 25px;
    }

    .Toper_2 h4 {
        font-size: 12px;
        margin-top: -4px;
    }

    .Toper_2 h5 {
        font-size: 12px;
    }

    .core6 i {
        font-size: 14px;
    }

    .core7 {
        font-size: 10px;
    }

        .core7 i {
            font-size: 12px;
            padding: 0;
            margin-top: 1px;
            margin-right: 0px;
        }

    .core6 i {
        margin-left: 4px;
        margin-right: 0px;
    }
}

.pad_30_special {
    padding: 10px 21px;
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 25px;
    text-align: center;
    float: right;
    margin-left: 10px;
}

    .rating > span {
        display: inline-block;
        position: relative;
    }

        .rating > span:hover,
        .rating > span:hover ~ span {
            color: transparent;
            cursor: pointer;
        }

            .rating > span:hover:before,
            .rating > span:hover ~ span:before {
                content: "\2605";
                position: absolute;
                left: 0;
                color: gold;
            }

.FAQ_img {
    background-image: url('../images/bgFAQ.jpg');
    background-position: center center;
    background-size: cover;
    height: 290px;
    width: 100%;
    float: right;
}

.package1 h4 {
    padding-top: 65px;
    font-size: 15px;
}

.package1 h6 {
    text-align: center;
    margin-top: 70px;
}

    .package1 h6 i {
        margin: 5px;
        font-size: 18px;
    }

.package4 {
    border-bottom: 1px solid #DDE9E9;
}

.no_mrg {
    margin-bottom: 0px !important;
}

.news_link1 h2 a {
    color: #fc5130;
}

    .news_link1 h2 a:hover {
        color: #aa290f;
    }

.mrg-1-x {
    margin: 0px -1px;
}

/*.bx_5 img {
    opacity: .5;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

}
.ItemBx:hover > img {
    opacity: 1;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}*/

.myR {
    width: 99%;
    float: right;
    margin-right: 1%;
    text-align: center;
}

.foter80precent {
    width: 80%;
    margin: 2px 10%;
}

.nocolor {
    background-color: transparent;
}

#myCarousel {
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.43);
}

.smallICon {
    width: 0px;
}

.sticky {
    position: fixed;
    top: -20px;
    z-index: 111111;
    background-color: red;
    width: 100%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

    .sticky #searchbox {
        display: none;
    }

    .sticky ._Upper1024 {
        display: none;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
    }

    .sticky .smallICon {
        -o-transition: 1.5s;
        -ms-transition: 1.5s;
        -moz-transition: 1.5s;
        -webkit-transition: 1.5s;
        float: right;
        width: 25px;
        margin-top: 15px;
    }

.sticky2 .smallICon {
    -o-transition: 1.5s;
    -ms-transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
    float: right;
    width: 25px;
    margin-right: -1055px;
}

.height40 {
    height: 48px;
    margin-left: 5px;
    margin-top: 5px !important;
}

.userbx3 {
    padding-top: 10px;
}
.userbx3 a {
margin-top:-10px;
}

.sticky .mrg-top-500 {
    margin-top: 5px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    float: left;
    margin-top: 0px;
}

.sticky2 .mrg-top-500 {
    margin-top: -500px;
    float: left;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}


#menubx {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.userbx1, .userbx1 a {
    color: #Fff;
  
}

._shop_basket1 i {
    /*font-size: 18px;
    color: #FFF;
    margin-top: 5px;
    border-left: 1px solid #FFF;
    padding: 10px 10px 10px 25px;*/
    font-size: 25px;
    color: #FFF;
    margin:11px 10px;
    /*  border-left: 1px solid #FFF;
    padding: 5px 1px 5px 12px;*/
}

._shop_basket1:hover {
    background-color: #78B125;
}

._shop_basket1 span {
    color: #FFF;
    float: left;
    margin: 15px 10px 0px 15px;
}

    ._shop_basket1 span a {
        color: #FFF;
        font-size:13px;
    }

.dnBSK {
margin-top:5px; float:left;
}
.sticky2 .dnBSK, .dnBSK {
    display: none;
}


.sticky .dnBSK {
    display: block;
}



@media (max-width: 370px) {

    #menubx > div {
        margin: 0px;
        padding: 0px
    }
}


@media (max-width:1023px) {

    .userbx1, .userbx1 a {
        color: #Fff;
        width: 100%;
    }
}



._shop_basket1 {
    margin:0px 2px;
    text-align:center;
    width: 45px !important;
}
    ._shop_basket1 i {
    font-size:16px;
    margin:18px auto;
    
    }
.userColor:hover {
background-color:#868585;
}

.UnSetFlt {
    margin: 0 auto;
    float: unset;
}
.fullH {
    overflow:hidden;
height:100vh;
}
.bgb_all {
    background-size: unset !important;
    background-repeat: no-repeat;
    background-color: #CD595A;
}


@media (max-width: 767px) {
   

    .bgb_all {
        background-image: none;
    }
}

.modal-content2 {
border:1px solid #ededed;
}
.Login_logo {
margin:10px auto;
}
.txtCener {
text-align:center;
}
.border3 {
height:100px!important;
}