﻿.Avatabox {
    width: 100%;
    text-align: center;
}

    .Avatabox img {
        width: 80px;
        border-radius: 200px;
        -webkit-box-shadow: 0px 0px 12px 2px rgba(107,107,107,1);
        -moz-box-shadow: 0px 0px 12px 2px rgba(107,107,107,1);
        box-shadow: 0px 0px 12px 2px rgba(107,107,107,1);
        margin-top: 15px;
    }

    .Avatabox h2 {
        font-size: 15px;
        font-weight: 600;
        color: rgba(107,107,107,1);
    }

.ProfileMenu {
    width: 100%;
}

    .ProfileMenu ul {
        padding: 15PX 0;
        margin: 0;
    }

        .ProfileMenu ul li {
            list-style: none;
            padding: 7px 10px;
            padding-right: 30px;
            border-radius: 10px;
            margin: 6px -15px;
            margin-right: 20px;
        }

            .ProfileMenu ul li i {
                margin-left: 10px;
            }

            .ProfileMenu ul li a {
                font-size: 15px;
            }

            .ProfileMenu ul li:hover a, .ProfileMenu ul .active a {
                color: #e6683c;
                text-decoration: none;
            }

            .ProfileMenu ul li:hover {
                background-color: #f2f2f2;
                border-radius: 10px;
                margin-right: 20px;
            }

        .ProfileMenu ul .active {
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        .ProfileMenu ul li a {
            color: #5d5d5d;
            margin-right: 10px;
        }


.TowerIcons a i {
    font-size: 30px;
    color: #a7a7a7;
    margin: 10px 5px;
    float: left;
}

    .TowerIcons a i:hover {
        font-size: 36px;
        color: #5d5d5d;
    }

.TowerIcons {
    -webkit-box-shadow: 0px 7px 14px -2px rgba(237,237,237,1);
    -moz-box-shadow: 0px 7px 14px -2px rgba(237,237,237,1);
    box-shadow: 0px 7px 14px -2px rgba(237,237,237,1);
    width: 100%;
    float: right;
    float: right;
    padding: 15px 0px 15px 45px;
}

.H-50 {
    height: 60px;
}

.border1 {
    border: 1px solid #f0f1f3;
    padding: 25px 10px;
    border-radius: 5px;
}

.border2 {
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bg_2 {
    background-image: url('../images/_bg2.png');
    background-position: center top;
    background-repeat: no-repeat;
}


.img_profile {
    width: 110px !important;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.00) !important;
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.00) !important;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.00) !important;
    margin-top: 15px;
    border: 3px solid #626262;
}

.headerProfile {
    font-size: 16px !important;
    font-weight: bold;
    color: rgb(128, 128, 128) !important;
}

.headerProfile2 {
    font-size: 16px !important;
    color: rgb(128, 128, 128) !important;
}

.border2 h4 {
    color: #5d5d5d;
    font-size: 18px !important;
    font-weight: bold;
    border-right: 4px solid #ff6448;
    margin-right: -25px;
    padding: 10px 15px 10px 0px;
}

.row_5 {
    width: 100%;
    float: right;
}

.span_name {
    background-color: #5d5d5d;
    color: #FFF;
    padding: 10px 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 20%;
    float: right;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    text-align: center;
}

.span_txt {
}

    .span_txt input {
        border: 0px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        width: 75%;
        margin-top: 1px;
        padding: 9px 3px;
        border: 1px solid #e8e8e8;
    }

    .span_txt select {
        border: 0px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        float: right;
        width: 60%;
        margin-top: 1px;
        padding: 6px 3px;
        border: 1px solid #e8e8e8;
    }

.let_txt input {
    padding-left: 15px;
    text-align: left;
    /*color: #d5d5d5;*/
    direction: ltr;
}

.txt6 {
    text-align: center;
    border: 0px !important;
}

.right_FH {
    height: 100vh;
 
}

.tex-center {
    text-align: center;
    width: 100%;
}

.ddl_css1 {
    border: 1px solid #e8e8e8;
    font-size: 20px;
    padding: 1px 15px;
    border-radius: 20px;
    margin: 5px;
}



@media (max-width:1129px) {
    .ProfileMenu ul li a {
        font-size: 13px;
    }
}

@media (max-width:1024px) {


   

    .border2 {
    
    }

    .ddl_css1 {
        width: 100%;
    }

    .span_txt input {
        width: 100%;
        float: right;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .span_txt select {
        width: 100%;
        float: right;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .span_name {
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        float: right;
        width: 100%;
        font-size: 12px;
    }
}



.fullWidth input {
    width: 100% !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 15px;
}

.border2 h6 {
    float: left;
    position: absolute;
    left: 10px;
    top: 20px;
}

    .border2 h6 i {
        color: #ff634a;
        font-size: 25px;
        float: left;
        margin-top: -8px;
        margin-right: 10px;
    }

    .border2 h6 a {
        color: #898989;
        font-size: 13px;
    }

._fb {
    background-color: #3B5998;
    color: #FFF;
    font-size: 30px;
    padding: 5px;
}

._gp {
    background-color: #DB4437;
    color: #FFF;
    font-size: 30px;
    padding: 5px;
}

._ld {
    background-color: #0077B5;
    color: #FFF;
    font-size: 30px;
    padding: 5px;
}

._website {
    background-color: rgba(107,107,107,1);
    color: #FFF;
    font-size: 30px;
    padding: 5px;
}

.instagram {
    color: #FFF;
    font-size: 30px;
    padding: 5px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.box2 {
    text-align: center;
    padding-top: 40%;
}

.mytd_1 {
    direction: rtl;
    background-color: #FFF;
    padding: 5px 2px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 9px;
    min-width: 800px;
}

    .mytd_1 thead tr th {
        padding-top: 20px;
    }

    .mytd_1 thead tr th, .mytd_1 tr {
        text-align: center;
    }

        .mytd_1 tr td i {
            text-align: center;
            font-size: 35px;
            margin: 2px 1px;
        }

.iclass {
    text-align: center;

}

    .iclass a i {
        color: #5d5d5d;
        margin:1px!important;
        font-size: 12px!important;
    }

        .iclass a i:hover { 
            color: rgba(107,107,107,.5);
        }

._chbx {
    margin-top: -25px;
}

.overflowTable {
    overflow-x: auto;
}

@media (max-width:767px) {


    .right_FH {
        margin-bottom:20px;
        height:350px !important;
    }
}